body {
    background-color: black;
	text-align: center;
	color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

table {
	margin: 100px auto;
	border: 1px solid lightgray;
}

.cell {
	width: 40px;
	height: 40px;
	font-size: 1.5em;
	border: 1px solid blue;
}

.modal{
 margin: -80px auto;

}
.modal button{
	cursor: pointer;
	background-color: brown;
}

.header{
	width: 200px;
	height: auto;
}

footer{
	color: white;
}