body {
    background-color: rgb(180, 42, 146);
	text-align: center;
	color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

table {
	margin: 100px auto;
	border: 1px solid lightgray;

	border-collapse: separate;
    border-spacing: 2px; 
    margin: 0 auto;
}

.cell {
	width: 40px;
	height: 40px;
	font-size: 1.5em;
	border: 1px solid blue;
}

.cell img{
	width: 80%;
	height:auto;
}

.modal{
 margin: 80px auto;

}
.modal button{
	cursor: pointer;
	background-color: brown;
}

.header{
	width: 100px;
	height: auto;
}

footer{
	text-align: center;
	color: white;
}

.smiley{
	height: 50px;
	width:auto;
}



