body {
    background-color: rgb(232, 180, 89);
	text-align: center;
	color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

table {
	position: absolute;
	margin: 100px auto;
	border: 1px solid lightgray;
	background-color: rgba(89, 123, 216,1);
	border-collapse: separate;
    border-spacing: 1px; 
    margin: 0 auto;
	z-index: 2;
	top: 26.5%;
	left: 31.5%;
	/* transform: translate(-50%, -50%); */
	
}

.cell {
	width: 20px;
	height: 20px;
	font-size: 1em;
	border: 1px solid blue;
}

.cell img{
	width: 80%;
	height:auto;
}

.modal{
 margin: 80px auto;

}
.modal button{
	cursor: pointer;
	background-color: brown;
}

.header{
	width: 300px;
	height: auto;
}

footer{
	text-align: center;
	color: white;
}

.smiley{
	height: 100px;
	width:auto;
}

.ship{
	/* position: relative;
	top:0px;
	left:420px;
	height: 300px;
	width:auto;*/
	z-index: 1 ;
	display: block; 
    height: 473px; 
    width: auto; 
	border: 10px solid brown;
	border-radius: 5px;
	border-color: rgb(126, 81, 49);
}

.board-container{
	position:relative;
	display: inline-block;
	margin: -5px auto;
	width: fit-content
}

.lives{
	color:brown
}

.lives span{
	font-size: 1.5em;
	font-weight: bold;
}

.cell.revealed {
  
    background-color: #80d8f3; 
    box-shadow: inset 2px 2px 5px rgba(0,0,0,0.3); 
    

    cursor: default; 
}


